:root{
    --primary-color: #9B00FF;
    
}
body{
    font-family: 'Lato', sans-serif;
    display: grid;
    background-color: #000;
    color: #fff;
}
header{
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    padding: 10px;
}
main{
    display: flex;
    min-height: 85vh;
    justify-content: center;
}
.description{
    padding-left: 10vw;
}