:root{
    --primary-color: #9B00FF;
}
body{
    font-family: 'Lato', sans-serif;
    display: grid;
    background-color: #000;
    color: #fff;
}
header{
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    padding: 10px;
}
main{
    display: flex;
    min-height: 75vh;
    justify-content: center;
    padding-left: 10vw;
}
footer{
    display: flex;
    height: 15vh;
    width: 100%;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 50px;
}